:root {
    --primaryColor: #333;
}

.header {
    box-sizing: border-box;
    height: 70px;
}

.logoAndName {
    text-align: center;
    justify-content: center;
    margin-top: -33px;
    
}


.logoName {
    color: var(--primaryColor);
    font-family: Work Sans;
    font-size: 30px;
    transform: translate(-10%, 0%);
}

.topnav input[type=text] {
    border: none;
    font-family: Work Sans;
    font-size: 14px;
    padding: 10px;
}

/* .title {
    text-align: center;
    font-family: Chapaza;
    font-size: 40px;
    position: absolute;
    justify-content: center;
    transform: translate(250%, -140%);
} */

.croissant {
    text-align: center;
    transform: translate(-10%, -20%);
}

.buttonGroupHeader {
    transform: translate(0%, 120%);
    justify-content: flex-end;
    margin-right: 30px;
}

.buttonGroupHeaderLeft {
    transform: translate(0%, 20%);
    justify-content: flex-start;
    margin-left: 30px;
}

a {
    -webkit-transition: color 0s;
    transition: color 0s;
}
/* a:hover {
    color: green;
} */